<div class="container">
    <div class="card">
        <img
          class="content-img"
          src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:705/https://www.filepicker.io/api/file/Cs7lHNsJSCi1mkPzo8fT"
          alt="resim yok"
        />
    
        <div class="kod">Yazılım Geliştirici Yetiştirme Kampı (JavaScript)</div>
    
        <div class="content">
          
          <p>
            1,5 ay sürecek Yazılım Geliştirici Yetiştirme Kampımızın takip, döküman
            ve duyurularını buradan yapacağız.
          </p>
        </div>
        <div class="teacher">
          <div class="img-name">
            <img
              src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:30,height:30/https://www.filepicker.io/api/file/GsqiGFGCRmuBuel0qqF3"
              alt=""
            />
            <p>Engin Demirog</p>
          </div>
          <div class="free">ÜCRETSİZ</div>
        </div>
      </div>
      <div class="card">
        <img
          class="content-img"
          src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:705/https://www.filepicker.io/api/file/Cs7lHNsJSCi1mkPzo8fT"
          alt="resim yok"
        />
    
        <div class="kod">Yazılım Geliştirici Yetiştirme Kampı (JavaScript)</div>
    
        <div class="content">
          
          <p>
            1,5 ay sürecek Yazılım Geliştirici Yetiştirme Kampımızın takip, döküman
            ve duyurularını buradan yapacağız.
          </p>
        </div>
        <div class="teacher">
          <div class="img-name">
            <img
              src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:30,height:30/https://www.filepicker.io/api/file/GsqiGFGCRmuBuel0qqF3"
              alt=""
            />
            <p>Engin Demirog</p>
          </div>
          <div class="free">ÜCRETSİZ</div>
        </div>
      </div>
      <div class="card">
        <img
          class="content-img"
          src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:705/https://www.filepicker.io/api/file/Cs7lHNsJSCi1mkPzo8fT"
          alt="resim yok"
        />
    
        <div class="kod">Yazılım Geliştirici Yetiştirme Kampı (JavaScript)</div>
    
        <div class="content">
          
          <p>
            1,5 ay sürecek Yazılım Geliştirici Yetiştirme Kampımızın takip, döküman
            ve duyurularını buradan yapacağız.
          </p>
        </div>
        <div class="teacher">
          <div class="img-name">
            <img
              src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:30,height:30/https://www.filepicker.io/api/file/GsqiGFGCRmuBuel0qqF3"
              alt=""
            />
            <p>Engin Demirog</p>
          </div>
          <div class="free">ÜCRETSİZ</div>
        </div>
      </div>
  <div class="card">
    <img
      class="content-img"
      src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:705/https://www.filepicker.io/api/file/Cs7lHNsJSCi1mkPzo8fT"
      alt="resim yok"
    />

    <div class="kod">Yazılım Geliştirici Yetiştirme Kampı (JavaScript)</div>

    <div class="content">
      
      <p>
        1,5 ay sürecek Yazılım Geliştirici Yetiştirme Kampımızın takip, döküman
        ve duyurularını buradan yapacağız.
      </p>
    </div>
    <div class="teacher">
      <div class="img-name" >
        <img
          src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:30,height:30/https://www.filepicker.io/api/file/GsqiGFGCRmuBuel0qqF3"
          alt=""
        />
        <p>Engin Demirog</p>
      </div>
      <div class="free">ÜCRETSİZ</div>
    </div>
  </div>
</div>
