<div class="container">
  <div class="category">
    <div class="filter">
      <div class="course-filter">
        <p>Kategori:</p>
        <div class="dropdown">
          <button class="dropbtn" >Tümü <span class="caret"></span></button>
          <div class="dropdown-content">
            <a href="#">Tümü </a>
            <a href="#">Programlama (4)</a>
          </div>
        </div>
      </div>
      <div class="course-filter">
        <p>Eğitmen:</p>
        <div class="dropdown">
          <button class="dropbtn">Tümü <span class="caret"></span></button>
          <div class="dropdown-content">
            <a href="#">Tümü</a>
            <a href="#">Engin Demirog</a>
          </div>
        </div>
      </div>
    </div>
    <div class="search">
      <form action="" role="search">
        <div class="input-group" >
          <label for="search-courses" class="sr-only">Kurs Bul</label>
          <input type="text" class="form-control" placeholder="Kurs bul">
          <a href="" class="magnifying">
            <i class="fa-solid fa-magnifying-glass"></i>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
